/*misc*/
.margin-top-50 {
  margin-top: 50px;
}
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
.clearboth {
  clear: both;
}

/*header*/
#head {
  height: 100px;
  border: 1px solid #e2e2e2;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


/*menus*/
#reg-menu {
  font-size: 0.9em;  
}
#topmenu {}
#topmenu ul li {

}


/*messages*/
/*errors*/
.errors, .info {
  padding-left: 6px;
  padding-right: 6px;
}
.errors {
  border-radius: 3px;
  background-color: #FFE1E2;
  margin-top: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.errors ul {
  margin-top: 10px;
  margin-bottom: 0;
}
.errors li {
  list-style-type: none;
  padding-bottom: 10px;
}
.info {
  border-radius: 3px;
  background-color: #ECFFF1;
  margin-top: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}