/*misc*/

@import url(http://fonts.googleapis.com/css?family=Nunito);

.margin-top-50 {
  margin-top: 50px;
}
.floatright {
  float: right;
}
.floatleft {
  float: left;
}
.clearboth {
  clear: both;
}
ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-pills > li + li {
  margin-left: 0px;
}
#route-tbl thead tr th,
#route-tbl tbody tr td {
  padding: 5px;
}
body {
  background-image: url(../img/brickwall.png);
}
h3 {
  margin: 10px;
}
#wrapper {}
#main-wrapper {
  position: relative;
}
#wrapper>.container {
  margin-top: -15px;
  padding-top: 15px;
  padding-bottom: 30px;
  font-family: 'Nunito', sans-serif;
}

/*
input.btn, #return_to_main {
  font-family: 'Libre Baskerville', serif;
}
*/
input.btn:hover, #return_to_main:hover {
  color: white;
}
span.status {
  position: absolute;
  right: 10px;
  bottom: 0;
}
div.container {
  position: relative;
}
div.welcome {
  width: 100%;
}

/*clearfix hack*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/*end clearfix*/


/*header*/
#head {
  background-image: url(../img/title_bar_wood.png);
  height: 120px;
  border: 1px solid rgba(124,91,33,1);
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  z-index:10;
  }
#head h1 {
  margin-top: 10px;
  margin-left: 30px; 
}
#head h2 {
  position: absolute;
  bottom: 10px;
  right: 30px;
  height: 20%;
}
#head img {
  height: 100px;
  width: auto;
}

/*sidebar*/
#sidebar-wrapper {
  min-height: 620px;
  margin-top: -15px;
  background: rgba(0,0,0,0.3);
  background-size: cover;
  color: white;
  padding-top: 15px;
  -webkit-box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.5);
}
#sidebar-wrapper a {
  color: white;
}

/*comments*/
#comments .comment {
  padding-bottom: 12px;
}

#reviews .review {
  padding-bottom: 12px;
}


/*menus*/
/*nav menu*/

/* OLD BOOKMARK
div#bookmark {
  position: absolute;
  border: 24px solid #e7cc59;
  border-right: 24px solid transparent;
  height: 0px;
  width: 50px;
  left: -28px;
  top: 0px;
  z-index: 0;
}
div#bookmark div {
  position: absolute;
  border: 20px solid rgba(80,33,0, 1);
  border-left: 20px solid transparent;
  height: 0;
  width: 50px;
  top: -20px;
  left: -14px;
} **/


#topmenu {
  font-size: 1.5em;
  position: relative;
  width: 120%;
  height: 60px;
}
#topmenu a {
  text-align: center;
  background-color: rgba(0,0,0,0.2);
  color: white;
  border: none;
  padding: 30px 20px 7px 20px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
#topmenu li {
  float: left;
  width: 15%;
  margin-right: 10px;
  margin-top: -30px;
}
#topmenu li:hover {
  margin-top: -15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#topmenu ul {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#topmenu li a:hover, #topmenu li a:focus {
  background-color: rgba(156,47,0, 1);
}
.nav-tabs {
  border-bottom: none;
}
/*user menu*/
#reg-menu {
  display: inline-block;
  width: 80%;
  font-size: 0.9em;
  margin: 20px 0px; 
}
#reg-menu ul {
  display: inline-block;
  width: 100%;
}
#reg-menu .nav > li {
  float: none;
  width: 100%;
}
#reg-menu li a:hover {
  background-color: #696969;
}
input.btn, a.btn {
  background-image: url(../img/wood_pattern_150.jpg);
  border: 1px solid black;
  color: white;
  text-shadow:2px 2px 0 black;
}
#reg-menu, #reg-menu li, .form-group {
  margin-bottom: 5px;
}
#reg-menu .form-control {
    border: 1px solid black;
}

/*events*/
#event_1 {
border-top: 1px solid black;
border-bottom: 1px solid black;
}
#event_5 {
  padding: 20px 0px;
  border-top: solid 2px white;
}
#event_5 h3 {
  margin-top: 0;
}
/*forms*/
div.form {
  padding-left:10%;
  border: 1px solid black;
  background-color: white;
}
div.form label {
  float: left;
  width: 30%;
  margin-top: 10px;
}
div.form .form-group input, div.form select {
  margin-top: 5px;
  width: 50%;
  min-width: 300px;
  float: left;
}
div.form .form-group {
  clear: both;
}
div.form .submit {
  margin-top: 20px;
  width: 200px;
  float: left;
  clear: both;
}
div.form #city {
  display: none;
}




/*messages*/
/*errors*/
.errors, .info {
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  min-width: 300px;
  top: 0;
  left: 20%;
  padding: 10px 60px;
  z-index: 100;
  margin-top: 15px;

}
.errors {
  border-radius: 3px;
  background-color: #FFE1E2;
  border: solid 1px red;
}
.errors ul {
  margin-bottom: 0;
  padding-left: 0;
}
.errors li {
  list-style-type: none;
  padding-bottom: 10px;
}
.info {
  border-radius: 3px;
  background-color: #ECFFF1;
  border: solid 1px green;
}