{% extends 'base.html.twig' %}

{% block title %}
  Reset your password
{% endblock title %}

{% block content %}  
  {% set app = globals.app %}
  <div class="container">
    <h1>Password reset</h1>
    <form action="{{ app.urlFor('password_reset_request') }}" method="post">
      <div class="form-group">
        <label for="email">E-mail address</label>
        <input class="form-control" type="email" id="email" name="email" />        
      </div>
      <input class="form-control btn btn-default" type="submit" id="submit" name="submit" value="Mail request" />
    </form>
  </div>
{% endblock content %}