{% extends 'base.html.twig' %}

{% block title %}
    Events
{% endblock title %}

{% block content %}
  
    {% set app = globals.app %}
    <div class="container form"
	    <h3>Upcoming events:</h3>
	    <dl>
	        {% for event in events %}
	        <dt>{{ event.Title }} 
	        	{% if globals.user is defined and globals.user is not null %}
	            {% if user.isAdmin() %}<a href="{{ globals.app.urlFor('edit_event', { 'event' : member.getUsername()} ) }}"><img src="../img/edit.png"></a>{% endif %}
	            {% endif %}
	        </dt> 
	        	<dd>{{ event.EventDate|date('d-m-Y') }}</dd>        
	        {% endfor %}  
	     </dl>
	</div>
    
{% endblock content %}