<div id="latest_events" class="">
    <h3>Upcoming events</h3>
    <dl>
        {% for event in events_five %}
        <dt>{{ event.Title }}</dt> 
        	<dd>{{ event.EventDate|date('d-m-Y') }}</dd>        
        {% endfor %}  
     </dl>
</div>