<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}The Scotch Lodge{% endblock title %}</title>

    <link href="/css/whisky.css" rel="stylesheet" type="text/css" />
    <link href="/js/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/js/bootstrap/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />

    {% block extracss %}
    {% endblock extracss %}

  </head>

  <body>

    <div id="wrapper">      

      {% block header %}
        {% include 'header.html.twig' %}
      {% endblock header %}

      {% block menu %}
        {% include 'menu.html.twig' %}
      {% endblock menu %}

      {% block messages %}
        {% block error_messages %}
          {% if flash['error'] is defined %}
            <div class="container">
              <div class="errors">
                <ul>                  
                  <li>{{ flash['error'] }}</li>
                </ul>
              </div>
            {% endif %}

            {% if errors is defined %}
              <div class="container">
                <div class="errors">
                  <ul>                  
                    {% for error in errors %}
                      <li>{{ error }}</li>
                      {% endfor %}                  
                  </ul>
                </div>
              </div>
            {% endif %}
          {% endblock error_messages %}

          {% block info_messages %}

            {% if flash['info'] is defined %}
              <div class="container">
                <div class="info">
                  {{ flash['info'] }}
                </div>
              </div>
            {% endif %}

            {% if  info is defined %}
              <div class="container">
                <div class="info">
                  {{ info }}
                </div>
              </div>
            {% endif %}
          {% endblock info_messages %}


        {% endblock messages %}

        {% block content %}        
        {% endblock content %}

      </div>    
    </div>

    <!-- js -->
    <script type="text/javascript" src="/js/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.js"></script>    
    {% block extrajs %}      
    {% endblock extrajs %}

  </body>
</html>