<div class="container">

  {% set app = globals.app %}

  {% if globals.user is not defined or globals.user is null %}
    <nav id="reg-menu">
      <ul class="nav nav-pills floatright">
        <li><a href="{{ app.urlFor('user_register') }}">Registreer</a></li>
        <li><a href="#">Wachtwoord vergeten</a></li>
        <li><a href="{{ app.urlFor('user_logon_process') }}">Aanmelden</a></li>
      </ul>
    </nav>
  {% else %}
    <nav id="reg-menu">
      <ul class="nav nav-pills floatright">
        <li><a href="{{ app.urlFor('user_logoff') }}">Afmelden</a></li>       
      </ul>
    </nav>
  {% endif %}


  <nav id="topmenu" class="clearboth">
    <ul class="nav nav-tabs">
      <li><a href="{{ app.urlFor('main_page') }}">Home</a></li>
      <li><a href="#"> ... </a></li>
    </ul>
  </nav>

</div>