<div class="container">
  
  {% set app = globals.app %}
  
  <nav id="reg-menu">
    <ul class="nav nav-pills floatright">
      <li><a href="{{ app.urlFor('user_register') }}">Registreer</a></li>
      <li><a href="#">Wachtwoord vergeten</a></li>
      <li><a href="{{ app.urlFor('user_logon_process') }}">Aanmelden</a></li>
    </ul>
  </nav>
    
  <nav id="topmenu" class="clearboth">
    <ul class="nav nav-tabs">
      <li><a href="{{ app.urlFor('main_page') }}">Home</a></li>
      <li><a href="#"> ... </a></li>
    </ul>
  </nav>

</div>