<div id="comments">
  <h3>Popular comments:</h3>
  {% set popular = comments.popular %}
  <div>
    {% for comm in popular %}
      {% set c_out = comm.comment.comment.comment %}
      <div class="username">{{ comm.comment.user.username }}</div>
      <div class="comment-like">Like count: {{ comm.likes }}</div>
      <div class="comment">{{ c_out|length > 50 ? c_out|slice(0, 50) ~ '...' : c_out }}</div>
    {% endfor %}
  </div>
</div>
